.modal-detail .modal-content {
    background: transparent;
    color: #fff;
}

.modal-detail .modal-content::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 15px;
    background-color: rgba(28, 38, 53, 0.7);
    backdrop-filter: blur(10px);
    z-index: -1;
}